.idea
.ipynb_checkpoints
work
bicycle
football
venv
data

__pycache__
object_detection/object_detection
object_detection/models
object_detection/training/*
object_detection/__pycache__
object_detection/.ipynb_checkpoints
object_detection/images/*

!object_detection/training/.gitkeep
!object_detection/data/.gitkeep
!object_detection/images/.gitkeep

keypoint_detection/examples/train